<script src="https://cdn.tiny.cloud/1/018sziejtotssj1qs8xyvgwwv39sekgzrpkgj7565ap5xlwl/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<section class="s-content s-content--top-padding s-content--narrow">

    <style>

    </style>


    <article class="row entry format-standard">

        <div class="entry__media col-full media_resize">
            <div class="entry__post-thumb">
                <img src={{doc.data}}
                     alt={{doc.name}}
                     class="headImg">
            </div>
            <p> {{doc.name}}</p>

        </div>





    </article>






</section>





