<script src="https://cdn.tiny.cloud/1/018sziejtotssj1qs8xyvgwwv39sekgzrpkgj7565ap5xlwl/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<!--FilePond-->

<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

<section class="s-content s-content--top-padding s-content--narrow">

    <style>

        .border{
            border-style: solid;
            border-color: black;
            border-radius: 10px;
        }

        .piece{
            margin-top: 30px;
            padding: 15px 15px 15px 15px;
        }



        .display-2 {
            font-family: "Libre Baskerville", serif;
            font-size: 3.3rem;
            line-height: 1.25;
            letter-spacing: -.15rem;
            margin-top: 0;
        }



        .display-3 {
            font-family: "Libre Baskerville", serif;
            font-size: 2.5rem;
            line-height: 1.25;
            letter-spacing: -.15rem;
            margin-top: 0;
        }

        .title2{
            text-align: center;
        }

    </style>


    <article class="row entry format-standard">



        <h1 class="entry__header-title display-2 title2 ">
            New Post
        </h1>


        <form ref='uploadForm'
              id='uploadForm'
              action='/users/newpost'
              method='post'
              encType="multipart/form-data">



            <div class="piece border">


                <p2 class="display-3">Category </p2>
                <select name="category">
                    <option disabled value=""  > Please select one</option>
                    <option>Lifestyle</option>
                    <option>Travel</option>
                    <option>Food</option>
                    <option>Technology</option>
                    <option>Creativity</option>
                </select>



                <br>

                <p2 class="display-3">Privacy</p2>
                <select name="privacy">
                    <option disabled value=""  > Please select one</option>
                    <option>Public</option>
                    <option>Private</option>
                </select>

            </div>



            <div class="piece border">
            <span class="display-3">Title</span>
            <input type="text" placeholder="Title" name="title">
        </div>

        <div  class="piece border">
            <p2 class="display-3">Introduction</p2>
            <textarea type="text" placeholder="Introduction" name="introduction"></textarea>
        </div>



        <div class="piece border">
            <p2 class="display-3">Banner</p2>

<!--                <input type="file" name="img" />-->
<!--                <input type="file" name="imgRec" />-->
            <div style="width: 250px">
                <input type="file"
                       class="filepond"
                       name="img"
                       id="img"
                       data-allow-reorder="true"
                       data-max-file-size="3MB"
                       accept="image/png, image/jpeg, image/gif">
            </div>
            <br>
            <p2 class="display-3">Gallery Image</p2>
            <div style="width: 250px">
                <input type="file"
                       class="filepond"
                       name="imgRec"
                       id="imgRec"
                       data-allow-reorder="true"
                       data-max-file-size="3MB"
                       accept="image/png, image/jpeg, image/gif">
            </div>
        </div>


        <div class="piece" style="padding: 0">
            <p2 class="display-3">Content</p2>



                <textarea id="myTextarea" name = 'texting' class="mceContentBody"></textarea>

        </div>

            <div class="form-group" style="margin-top: 30px">
                <button type="submit" class="btn btn-info" > Submit </button>
            </div>


        </form>

    </article>


    <script type="text/javascript">

        tinymce.init({
            selector: '#myTextarea',
            plugins: 'image code',
            toolbar: 'undo redo | link image | code',
            // enable title field in the Image dialog
            image_title: true,
            // enable automatic uploads of images represented by blob or data URIs
            automatic_uploads: true,
            // URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
            // images_upload_url: 'postAcceptor.php',
            // here we add custom filepicker only to Image dialog
            file_picker_types: 'image',
            height : "560",
            // and here's our custom image picker
            file_picker_callback: function(cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                // Note: In modern browsers input[type="file"] is functional without
                // even adding it to the DOM, but that might not be the case in some older
                // or quirky browsers like IE, so you might want to add it to the DOM
                // just in case, and visually hide it. And do not forget do remove it
                // once you do not need it anymore.

                input.onchange = function() {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        // Note: Now we need to register the blob in TinyMCEs image blob
                        // registry. In the next release this part hopefully won't be
                        // necessary, as we are looking to handle it internally.
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        // call the callback and populate the Title field with the file name
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            }
        });

    </script>


    <script>
        FilePond.registerPlugin(

                // encodes the file as base64 data
                FilePondPluginFileEncode,

                // validates the size of the file
                FilePondPluginFileValidateSize,

                // corrects mobile image orientation
                FilePondPluginImageExifOrientation,

                // previews dropped images
                FilePondPluginImagePreview

        );


        FilePond.create(
                document.querySelector('#img')
        );

        FilePond.create(
                document.querySelector('#imgRec')
        );
    </script>


</section>





